<h1>Listing use_cases</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @use_cases.each do |use_case| %>
      <tr>
        <td><%= use_case.name %></td>
        <td><%= link_to 'Show', use_case %></td>
        <td><%= link_to 'Edit', edit_use_case_path(use_case) %></td>
        <td><%= link_to 'Destroy', use_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Use case', new_use_case_path %>
