<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @use_case.name %>
<br />
  <strong>Completed:</strong>
    <%=@yes%> / <%=@total%>
  <br /><br />

    <ul>
	<% @use_case.test_cases.each do |test_case| %>
         
	  <li><strong>Case ID:</strong><%=test_case.case_id%></li>
          <li><strong>Course ID:</strong><%=test_case.case_title%></li>
          <ul>
            <% test_case.test_steps.each do |step| %>
              <li><%=step.step_name%>
                <% step.test_results.each do |result| %>
		  - <%=raw result.status ? "<span style='color:green'>Pass</span>" : "<span style='color:red'>Fail</span>" %>
		<% end %>
	      </li>
            <% end %>
            </ul>
        <% end %>
  </ul>

</p>
<hr />



<%= link_to 'Edit', edit_use_case_path(@use_case) %> |
<%= link_to 'Back', use_cases_path %>


