<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @test_result.status %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @test_result.comment %>
</p>

<%= link_to 'Edit', edit_test_result_path(@test_result) %> |
<%= link_to 'Back', test_results_path %>
