<h1>Listing test_steps</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_steps.each do |test_step| %>
      <tr>
        <td><%= link_to 'Show', test_step %></td>
        <td><%= link_to 'Edit', edit_test_step_path(test_step) %></td>
        <td><%= link_to 'Destroy', test_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test step', new_test_step_path %>
