<%= form_for(@import_log) do |f| %>
  <% if @import_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import_log.errors.count, "error") %> prohibited this import_log from being saved:</h2>

      <ul>
      <% @import_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :import_date %><br>
    <%= f.datetime_select :import_date %>
  </div>
  <div class="field">
    <%= f.label :file_name %><br>
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :file_size %><br>
    <%= f.number_field :file_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
