<h1>Imports</h1>

<br />
<h2>Import New File</h2>
  <%= form_tag import_import_logs_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
<hr />

<table>
  <thead>
    <tr>
      <th>Import date</th>
      <th>File name</th>
      <th>File size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @import_logs.each do |import_log| %>
      <tr>
        <td><%= import_log.import_date %></td>
        <td><%= import_log.file_name %></td>
        <td><%= import_log.file_size %></td>
        <td><%= link_to 'Show', import_log %></td>
        <td><%= link_to 'Edit', edit_import_log_path(import_log) %></td>
        <td><%= link_to 'Destroy', import_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Import log', new_import_log_path %>
