<p id="notice"><%= notice %></p>

<p>
  <strong>Import date:</strong>
  <%= @import_log.import_date %>
</p>

<p>
  <strong>File name:</strong>
  <%= @import_log.file_name %>
</p>

<p>
  <strong>File size:</strong>
  <%= @import_log.file_size %>
</p>

<%= link_to 'Edit', edit_import_log_path(@import_log) %> |
<%= link_to 'Back', import_logs_path %>
