<%= form_for(@test_execution) do |f| %>
  <% if @test_execution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_execution.errors.count, "error") %> prohibited this test_execution from being saved:</h2>

      <ul>
      <% @test_execution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_executed %><br>
    <%= f.date_select :date_executed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
