<h1>Listing test_executions</h1>

<table>
  <thead>
    <tr>
      <th>Date executed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @test_executions.each do |test_execution| %>
      <tr>
        <td><%= test_execution.date_executed %></td>
        <td><%= link_to 'Show', test_execution %></td>
        <td><%= link_to 'Edit', edit_test_execution_path(test_execution) %></td>
        <td><%= link_to 'Destroy', test_execution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test execution', new_test_execution_path %>
