<p id="notice"><%= notice %></p>

<p>
  <strong>Date executed:</strong>
  <%= @test_execution.date_executed %>
</p>

<%= link_to 'Edit', edit_test_execution_path(@test_execution) %> |
<%= link_to 'Back', test_executions_path %>
