<%= form_for(@test_case) do |f| %>
  <% if @test_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case.errors.count, "error") %> prohibited this test_case from being saved:</h2>

      <ul>
      <% @test_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :case_id %><br>
    <%= f.text_field :case_id %>
  </div>
  <div class="field">
    <%= f.label :case_title %><br>
    <%= f.text_field :case_title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
