<p id="notice"><%= notice %></p>

<p>
  <strong>Case:</strong>
  <%= @test_case.case_id %>
</p>

<p>
  <strong>Case title:</strong>
  <%= @test_case.case_title %>
</p>

<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
