<!DOCTYPE html>
<html>
<head>
  <title>TestTracker1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= link_to "Use Cases",  controller: "use_cases" %><br />
  <%= link_to "Test Cases", controller: "test_cases" %><br />
  <%= link_to "Test Steps", controller: "test_steps" %><br />
  <%= link_to "Test Execution", controller: "test_executions" %> <br />
  <%= link_to "Test Result", controller: "test_results" %> <br />
  <%= link_to "Upload", controller: "import_logs" %> <br />

</div>
<hr />

<%= yield %>

</body>
</html>
